In [34]:
'''Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple'''

'Q1. Create one variable containing following type of data:\n(i) string\n(ii) list\n(iii) float\n(iv) tuple'

In [2]:
A = 'Amrik'

In [4]:
type(A)

str

In [6]:
B = [1,2,'Right',False]

In [7]:
type(B)

list

In [8]:
C = ((1,2,'Right',False))

In [9]:
type(C)

tuple

In [10]:
D = 2.235

In [11]:
type(D)

float

In [ ]:
'''Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.'''

In [14]:
var1 = ' '

In [15]:
type(var1)

str

In [18]:
var2 = ' [ DS , ML , Python] '

In [19]:
type(var2)

str

In [23]:
 var3 = ['DS' , 'ML' , 'Python']

In [24]:
type(var3)

list

In [25]:
var4 =1

In [26]:
type(var4)

int

In [28]:
'''Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) ** '''

'Q3. Explain the use of the following operators using an example:\n(i) /\n(ii) %\n(iii) //\n(iv) ** '

In [ ]:
 / operator for dividing
% mod operator to get remainder
// floor division operator
** power operator

In [29]:
4/2

2.0

In [30]:
4%2

0

In [31]:
4//2

2

In [33]:
4**2

16

In [ ]:
'''Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [43]:
A= [ 1,3.5,4,False,'abc',5,True,'xyz',8+2j,9,10]

In [45]:
for element in A:
    print(element, type(element))

1 <class 'int'>
3.5 <class 'float'>
4 <class 'int'>
False <class 'bool'>
abc <class 'str'>
5 <class 'int'>
True <class 'bool'>
xyz <class 'str'>
(8+2j) <class 'complex'>
9 <class 'int'>
10 <class 'int'>

In [ ]:
'''Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [52]:
A = int(input("Enter the number A: "))
B = int(input("Enter the number B: "))
count = 0

while A % B == 0:
    A = A / B
    count = count + 1

print("Number A can be divided by B", count, "times")

Enter the number A:  7
Enter the number B:  2

Number A can be divided by B 0 times

In [ ]:
'''Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [63]:
A = [ 1,23,36,42,5,44,23,89,99,18,24,30,45,86,55,74,43,46,21,27,81]
for element in A:
    if element % 3 == 0:
        print(element , "It is divisible by 3")
    else:
        print(element , "Not divisible")

1 Not divisible
23 Not divisible
36 It is divisible by 3
42 It is divisible by 3
5 Not divisible
44 Not divisible
23 Not divisible
89 Not divisible
99 It is divisible by 3
18 It is divisible by 3
24 It is divisible by 3
30 It is divisible by 3
45 It is divisible by 3
86 Not divisible
55 Not divisible
74 Not divisible
43 Not divisible
46 Not divisible
21 It is divisible by 3
27 It is divisible by 3
81 It is divisible by 3

In [ ]:
'''What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [ ]:
-- mutable data types in Python can be modified after they are created, while immutable data types cannot be changed once created.