Q1. What is a database? Differentiate between SQL and NoSQL databases.

 A database is a structured collection of data that is organized and stored in a way that allows for efficient retrieval, manipulation, and management of information. It provides a systematic approach to store, manage, and retrieve data, making it an essential component of modern software applications.

SQL databases:

Follow a structured data model with tables and predefined schemas.
Use SQL as the querying language.
Well-suited for complex relationships and transactions.
Provide strong consistency and support ACID properties.
Examples: MySQL, PostgreSQL, Oracle Database, Microsoft SQL Server.

NoSQL databases:

Provide flexible data models for unstructured or semi-structured data.
Use various querying mechanisms specific to their data model.
Designed for horizontal scalability and handling large volumes of data.
May prioritize availability and partition tolerance over strong consistency.
Examples: MongoDB, Cassandra, Redis, CouchDB.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

 DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) that is used to define and manage the structure of a database and its objects.

CREATE: The CREATE statement is used to create new database objects such as tables, views, indexes, or procedures.

DROP: The DROP statement is used to remove or delete database objects such as tables, views, or indexes. It permanently removes the object and its data from the database.

ALTER: The ALTER statement is used to modify the structure of an existing database object.

TRUNCATE: The TRUNCATE statement is used to remove all data from a table while keeping its structure intact.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) that is used to manipulate and manage data within a database. DML statements are primarily used to insert, update, and delete data in database tables.

INSERT: The INSERT statement is used to insert new rows of data into a table. It specifies the table name and the values to be inserted into the columns.

In [ ]:
INSERT INTO Employees (ID, Name, Salary)
VALUES (1, 'John Doe', 5000);

The UPDATE statement is used to modify existing data in a table. It allows you to update one or more columns of one or more rows in a table.

UPDATE Employees
SET Salary = 6000
WHERE ID = 1;

In [ ]:
The DELETE statement is used to remove one or more rows of data from a table. 

DELETE FROM Employees
WHERE ID = 1;

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) that is used to retrieve and query data from a database. The primary DQL statement is the SELECT statement, which allows you to specify the columns and conditions for retrieving data from one or more tables.

In [ ]:
SELECT Name, Salary
FROM Employees
WHERE Department = 'Sales';

The SELECT clause specifies the columns we want to retrieve: "Name" and "Salary."

Q5. Explain Primary Key and Foreign Key.

Primary Key: A primary key is a column or a combination of columns in a database table that uniquely identifies each row in the table. It provides a way to ensure data integrity and enforce uniqueness. A primary key constraint ensures that the values in the primary key column(s) are unique and not null. It is typically used as a reference point for relationships with other tables.

Foreign Key: A foreign key is a column or a combination of columns in a table that refers to the primary key of another table. It establishes a relationship between two tables, creating a link between them. The foreign key constraint ensures referential integrity, meaning that the values in the foreign key column(s) must match the values in the primary key column(s) of the referenced table or be null.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

To connect MySQL to Python, you can use the mysql-connector-python module. First, make sure you have the module installed by running the following command in your terminal:

In [2]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.33-cp310-cp310-manylinux1_x86_64.whl (27.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.4/27.4 MB 50.7 MB/s eta 0:00:0000:0100:01
Collecting protobuf<=3.20.3,>=3.11.0
  Downloading protobuf-3.20.3-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 62.5 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
  Attempting uninstall: protobuf
    Found existing installation: protobuf 4.21.11
    Uninstalling protobuf-4.21.11:
      Successfully uninstalled protobuf-4.21.11
Successfully installed mysql-connector-python-8.0.33 protobuf-3.20.3
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import mysql.connector

# Establishing a connection
cnx = mysql.connector.connect(
    host="your_host",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Creating a cursor object
cursor = cnx.cursor()

# Executing SQL queries
query = "SELECT * FROM your_table"
cursor.execute(query)

# Fetching the results
results = cursor.fetchall()
for row in results:
    print(row)

# Closing the cursor and connection
cursor.close()
cnx.close()

In [ ]:
The cursor() method creates a cursor object cursor, which allows executing SQL queries and fetching results.
The execute() method is used to execute SQL queries. You pass the query as a parameter to this method.

Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
The order of execution of SQL clauses in an SQL query is as follows:

FROM: The FROM clause specifies the table or tables from which the data will be retrieved.

WHERE: The WHERE clause is used to filter the rows based on specified conditions.

GROUP BY: The GROUP BY clause is used to group the rows based on one or more columns.

HAVING: The HAVING clause is used to filter the grouped rows based on specified conditions.

SELECT: The SELECT clause is used to specify the columns to be retrieved from the table.

DISTINCT: The DISTINCT keyword is used to eliminate duplicate rows from the result set.

ORDER BY: The ORDER BY clause is used to sort the rows in the result set based on one or more columns.

LIMIT/OFFSET: The LIMIT and OFFSET clauses are used for result set pagination, allowing you to retrieve a specific number of rows starting from a particular position.